input[id=port] {
-moz-appearance:textfield;
-webkit-appearance: none;
      }
      input[id=port]::{
        -moz-appearance:textfield;
        -webkit-appearance: none;
      }
      input[id=port]::-webkit-outer-spin-button,
      input[id=port]::-webkit-inner-spin-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        margin: 0;
      }
