
body {
  color: #ffffff;
}

table.ref-index {
  padding-right: 30px;
  padding-left: 30px;
}
.ref-index th {color: #ffdaa0;}
.ref-index td > p {padding-right: 15px;}
.ref-index td > p > code > a {color: #375f84;}

.ref-description p {color: #f9f0db;}

pre, code {background-color: #dceef3;}

.contents h2{color: #cbffd2;}
